.map{
    display: flex;
    height: 100%;
    .map_left{
         width: 100%;
         img{
             width: 100%;
             height: 100%;
         }
    }
    // .map_right{
    //     width: 30%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     ul{
    //         border: 1px solid #ddd;
    //         li{
    //             line-height: 36px;
    //             padding: 0 10px;
    //         }
    //     }
    // }
}