.content{
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    // display: flex;
}
.title{
    width:50% ;
    display: flex;
    
   
}
.result_content{
    >p{
        line-height: 40px;
        height: 40px;
    }
    ul{
        li{
            line-height: 30px;
            font-size: 14px;
            // height: 30px;
            // margin: 10px 0;
        }
    }
   .item_one{
       margin-bottom: 60px;
        h3{
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 40px;
            span:last-child{
               color: #3366cc;
               font-size: 12px;
            }
        }
    }
}
.entity{
    min-height:50vh;
    margin-top: 20px;
}
.attr{
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    p{
        span{
            font-weight: bold;
        }
    }
}
.search_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 32px;
    background-color: #1890ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.search{
    width: 80%;
    position: relative;
    .result{
        position: absolute;
        left: 0px;
        top: 34px;
        width: 100%;
        z-index: 10;
        max-height: 200px;
        background-color: #fff;
        border-color: #ddd;
        box-shadow: 0 2px 2px #ddd;
        overflow: hidden;
        overflow-y: scroll;
        li{
            line-height: 30px;
            margin-left: 15px;
            cursor: pointer;
        }
    }
}