.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f2f6f9;
    .form{
        width:400px;
        // margin-bottom: 200px;
        padding: 20px;
        border-radius: 8px;
        background-color: #fff;
        >h3{
            font-size: 28px;
            text-align: center;
            line-height: 40px;
            font-weight: bold;
        }
    }
}
