.content{
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    // display: flex;
}
.title{
    width:50% ;
    display: flex;
}
.result_content{
    >p{
        line-height: 40px;
        height: 40px;
    }
    ul{
        li{
            line-height: 30px;
            font-size: 14px;
            // height: 30px;
            // margin: 10px 0;
        }
    }
   .item_one{
    //    margin-bottom: 60px;
        h3{
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 40px;
            span:last-child{
               color: #3366cc;
               font-size: 12px;
            }
        }
    }
}
.entity{
    min-height:50vh;
    margin-top: 20px;
}
.attr{
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    p{
        span{
            font-weight: bold;
        }
    }
}